html,body{height:100%;margin:0;padding:0;background:#333;}
body{height:100%;margin:auto;}
@media only screen and (min-width:320px) and (max-width:768px){
	#filter{width:100%;height:auto;float:left;}
	#map{width:100%;height:100%}
}
@media only screen and (min-width:768px){
	#filter{width:30%;height:100%;float:left;}
	#map{width:70%;float:right;height:100%;}
}
input{width:80%;}
input[type=text]{text-align:left;}
button{}
ul{width:100%;height:100%;-webkit-margin-before:0em;-webkit-padding-start:0px;margin-top:4%;}
ul,li{color:#fff;list-style:none;}
li{padding:0.2em;background:#ccc;margin-bottom:1%;width:100%;color:#000;font-family:"微软雅黑";}
li:hover{cursor:pointer;background:green;}
h3{color:#fff;font-size:1.72em;text-align:center;font-family:"微软雅黑";}
h4{color:#000;font-size:1.0em;font-family:"微软雅黑";font-weight:400;text-align:center;}
#sidebar-button{padding-right:10px;float:left;margin:10px 10px 0 15px;background:#ffffff;width:60px;height:51px;position:absolute;left:20%;top:0%;font-size:17px;display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;z-index:1000;background:url(../img/show.png) no-repeat;}
#sidebar-button:hover{cursor:pointer;}